################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/testapiapp/.vs/testapiapp
/testapiapp/testapiapp/bin/Debug/net6.0
/testapiapp/testapiapp/obj
